%li.mb-2
  .post.border.rounded-lg.p-2{ id: "post-#{post.id}" }
    .username= link_to post.user.username, user_path(post.user)
    .content= simple_format h(post.content)
    .small
      %span= "#{post.favorites_count} いいね"
      %span.timestamp= link_to post.created_at, post, class: 'text-muted'
