.row
  .col
    = form_for(@post) do |f|
      = render 'shared/errors', object: f.object
      .field
        = f.text_area :content, class: 'w-100'
      .field
        = f.file_field :image
      .text-right
        = f.submit '投稿', class: 'btn btn-primary right'
